@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,700;1,400&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --color-base: #47c7ac;
    --white: white;
    --fondo-griseso: #e6e9ed;
    --color-text: black;
    --color-footer: #22272d;
    --fondo-importante: #111b21;
    --fondo-de-la-pagina: #202c33;
    --difuminado-bello:linear-gradient(160deg, #ad52ff, #408abf); 
    --Roboto-normal: 'Roboto', sans-serif;
    --Roboto-Mono: 'Roboto Mono', monospace;
    --Roboto-Slab: 'Roboto Slab', serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--fondo-de-la-pagina);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

.grid-container {
    max-width: 980px;
    margin: auto;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    justify-items: end;
    background:var(--difuminado-bello);
}


header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

header .header-icons-container .icons span {
    color: var(--white);
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
    background-color: #202c33;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
}

nav .nav-logo-container {
    display: flex;
    align-items: center;
    margin-left: 114px;
    font-size: 40px;
}

nav .nav-logo-container a {
    font-family: 'Lobster', cursive;
    color: var(--white);
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color:white;
    border-bottom: 1px solid white;
    font-family: var(--Roboto-Mono);
}

/* index.html */
.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url("../assets/Cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    align-content: center;
    height: 350px;
    margin-top: 80px;
}

.home-main section .home-main-title{
    color: var(--white);
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 56px;
    line-height: 53px;
}

.home-main section .home-main-buttom {
    background: var(--difuminado-bello);
    border: none;
    cursor: pointer;
    place-items: center;
    padding: 4px 25px;
    font-size: 20px;
    margin-top: 44px;
}

.home-main section .home-main-buttom a {
    color: white;
}

/*Media queries*/

@media (max-width: 1076px) {
    .home-main section .home-main-title {
    color: var(--white);
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 56px;
    line-height: 53px;
    margin: 41px 0 0 0;
    }
}    

@media (max-width: 900px) {
    nav .nav-logo-container {
        margin-left: 38px;
    }
}

@media (max-width: 540px) {
    header {
        width: 100%;
        height: 95px;
    }

    header .header-icons-container {
        width: 100%;
        height: 50px;
        display: grid;
        justify-items: center;
        background: var(--difuminado-bello);
    }

    header .header-icons-container .icons {
        width: 300px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    nav {
    display: flex;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    nav .nav-logo-container {
    display: none;
    }

    nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    }

    .home-main section .home-main-title {
        color: var(--white);
        width: 100%;
        text-align: center;
        height: auto;
        font-size: 50px;
        line-height: 53px;
    }

    .home-main section .home-main-buttom {
        background: var(--difuminado-bello);
        border: none;
        cursor: pointer;
        place-items: center;
        padding: 4px 25px;
        font-size: 20px;
        margin-top: 8px;
    }
}