
@media (max-width: 1076px) {
    .home-main section .home-main-title {
    color: var(--white);
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 56px;
    line-height: 53px;
    margin: 41px 0 0 0;
    }
}    

@media (max-width: 900px) {
    nav .nav-logo-container {
        margin-left: 38px;
    }
}

@media (max-width: 540px) {
    header {
        width: 100%;
        height: 95px;
    }

    header .header-icons-container {
        width: 100%;
        height: 50px;
        display: grid;
        justify-items: center;
        background: var(--difuminado-bello);
    }

    header .header-icons-container .icons {
        width: 300px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    nav {
    display: flex;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    nav .nav-logo-container {
    display: none;
    }

    nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    }

    .home-main section .home-main-title {
        color: var(--white);
        width: 100%;
        text-align: center;
        height: auto;
        font-size: 50px;
        line-height: 53px;
    }

    .home-main section .home-main-buttom {
        background: var(--difuminado-bello);
        border: none;
        cursor: pointer;
        place-items: center;
        padding: 4px 25px;
        font-size: 20px;
        margin-top: 8px;
    }
}